.container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.button{
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgb(12, 167, 245);
    border-radius: 5px;
}


.button:disabled{
    cursor: not-allowed;
}